<div id="screen" class="screen">
  <table *ngIf="board && board.length" style="display: inline-block">
    <tr *ngFor="let line of board">
      <td *ngFor="let block of line">
        <span *ngIf="block && block.color" [ngStyle]="{ color: block.color }"
          >#</span
        >
      </td>
    </tr>
  </table>
  <div *ngIf="game.playing"
    style="
      display: inline-block;
      margin-left: 20px;
      margin-top: 0px;
      position: absolute;
    "
  >
    <div style="margin-bottom: 5px">
      <span style="color: white">Level:</span>&nbsp;<span style="color: blue">{{
        game.currentLevel
      }}</span>
    </div>
    <div style="margin-bottom: 5px">
      <span style="color: white">Score:</span>&nbsp;<span style="color: blue">{{
        game.getScore()
      }}</span>
    </div>

    <div>
      <span style="color: white; margin-bottom: 5px">Next:</span>
      <table *ngIf="next" style="padding: 5px">
        <tr *ngFor="let line of next">
          <td *ngFor="let block of line">
            <span
              *ngIf="block && block.color"
              [ngStyle]="{ color: block.color }"
              >#</span
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div
    style="
      display: inline-block;
      margin-left: 120px;
      margin-top: 0px;
      position: absolute;
    " *ngIf="help"
  >
    <div style="color: white">
      <h3>How to play</h3>
      <p>Left: 'a' or '4'</p>
      <p>Right: 'd' or '6'</p>
      <p>Rotate: 'space' or '5'</p>
      <p>Speed: 's' or '2'</p>
      <p>Start: 'r'</p>
      <p>Pause: 'p'</p>
      <p>Quit: 'q'</p>
    </div>
  </div>
</div>

<div
    style="
      display: inline-block;
      margin-left: 120px;
      margin-top: 0px;
      position: absolute;
    " *ngIf="help && !game.playing"
  >
    <div style="color: black">
      <h3>How to play</h3>
      <p>Left: 'a' or '4'</p>
      <p>Right: 'd' or '6'</p>
      <p>Rotate: 'space' or '5'</p>
      <p>Speed: 's' or '2'</p>
      <p>Start: 'r'</p>
      <p>Pause: 'p'</p>
      <p>Quit: 'q'</p>
    </div>
  </div>